<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kingstar.eurkaclient.mapper.IndicatorMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kingstar.eurkaclient.entity.Indicator">
        <id column="id" property="id" />
        <result column="identifier" property="identifier" />
        <result column="name" property="name" />
        <result column="source" property="source" />
        <result column="type" property="type" />
        <result column="unit" property="unit" />
        <result column="create_id" property="createId" />
        <result column="create_time" property="createTime" />
        <result column="modify_id" property="modifyId" />
        <result column="modify_time" property="modifyTime" />
        <result column="data_status" property="dataStatus" />
        <result column="ident_id" property="identId" />
        <result column="indicator_type" property="indicatorType" />
        <result column="collect_source" property="collectSource" />
        <result column="oid" property="oid" />
        <result column="px" property="px" />
        <result column="state" property="state" />
        <result column="category" property="category" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, identifier, name, source, type, unit, create_id, create_time, modify_id, modify_time, data_status, ident_id, indicator_type, collect_source, oid, px, state, category
    </sql>

</mapper>
